@charset "utf-8";


    

a
{
    display: block;
}


h1
{
    font-family: serif;   
    border-bottom: 3px solid red;
}

.content
{
    display: inline-block;
    width:30%;
    margin-bottom: 3px;

    
}

.list
{
    vertical-align: top;
    overflow-y: scroll;
    height: 700px;
}

.post
{
    transition: all 0.5s;      
}

.post:hover
{
    background-color: #add8e6;
}

.post
{
    margin: 0 8px 8px 8px;
    border: 1px solid blue;
    background-color:#e6e6fa;
}

.calendar iframe {
  width: 100%;
  height: 400px;
    
}

.starbucks
{
    background-color:#f0f8ff;
}

.coding
{
    background-color: #f0f8ff;
}

.to_do
{
    background-color:#f0f8ff;
}

.mainTitle
{
    display: inline-block;
}

.create
{
    display: inline-block;
    float: right;
    background-color:  #b0c4de;
    font-size: 13px;
    margin: 3px;
    padding: 2px;
    border-radius:10px;
}

.title
{
    display: inline-block;
}

form
{
    display: inline-block;
    float: right;
}

.note
{
    display: flex;
  flex-direction: row;
  justify-content: space-around;
}